{% extends 'base.html' %}
{% block content %}
<h4>Add Event</h4>
<form method="post">
    <input class="form-control mb-2" name="title" placeholder="Event Title" required>
    <input class="form-control mb-2" type="datetime-local" name="start_time" required>
    <input class="form-control mb-2" type="datetime-local" name="end_time" required>
    <textarea class="form-control mb-2" name="description" placeholder="Description"></textarea>
    <button class="btn btn-success">Save</button>
</form>
{% endblock %}
